@font-face {
  font-family: "Pokemon";
  src: url("../PokemonFont/pokemon_pixel_font.eot?") format("eot"),
    url("../PokemonFont/pokemon_pixel_font.woff") format("woff"),
    url("../PokemonFont/pokemon_pixel_font.ttf") format("truetype"),
    url("../PokemonFont/pokemon_pixel_font.svg#Pokemon-Pixel-Font")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --win-color: #10b981;
  --lose-color: #ef4444;
}
* {
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Pokemon";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-image: url("../easy.jpg");
}
.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 120px;
  height: 135px;
  transition: 0.5s;
}
.card:hover {
  width: 130px;
  height: 144px;
  transition: 0.5s;
}
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  gap: 50px;
}
.main-menu p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu p:nth-child(2) {
  font-size: 2rem;
}
.main-menu .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-menu .buttons button,
.win-screen button,
.end-screen button {
  height: 60px;
  width: 120px;
  border-radius: 20px;
  font-size: 2rem;
  padding: 12px;
  background: none;
  border: 2px solid black;
  font-family: "Pokemon";
  transition: 0.5s;
}
.main-menu .buttons button:hover {
  height: 65px;
  width: 130px;
  transition: 0.5s;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading {
  animation: load 1.5s;
  animation-iteration-count: infinite;
}
.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 2.8rem;
}
.win-screen,
.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  gap: 10px;
}
.win-screen p:first-child {
  color: var(--win-color);
  font-size: 5rem;
}
.end-screen p:first-child {
  color: var(--lose-color);
  font-size: 5rem;
}
.win-screen button,
.end-screen button {
  width: 250px;
  height: 80px;
}
.win-screen button:hover,
.end-screen button:hover {
  width: 260px;
  height: 85px;
  transition: 0.5s;
}
.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
#pokeball {
  transform: rotate(0deg);
  transition: 2s;
}
#pokeball:hover {
  transform: rotate(360deg);
  transition: 2s;
}

@media screen and (max-width: 700px) {
  .score-box {
    position: relative;
    font-size: 2rem;
  }
  .card-box {
    height: 75vh;
  }
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 88px;
    height: 115px;
    transition: 0.5s;
  }
  .card:hover {
    width: 90px;
    height: 116px;
    transition: 0.5s;
  }
  .main-menu {
    font-size: 3.5rem;
    gap: 40px;
  }
  .main-menu .buttons {
    gap: 10px;
  }
  .main-menu .buttons button {
    height: 50px;
    width: 100px;
    font-size: 1.5rem;
    padding: 12px;
  }
  .main-menu .buttons button:hover {
    height: 55px;
    width: 110px;
  }
}
